version: "3.9"

services:
  postgres:
    container_name: postgres
    image: postgres:14
    environment:
      POSTGRES_DB: scrapper
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpwd
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

  liquibase-migrations:
    container_name: liquibase
    image: liquibase/liquibase:4.18
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 10
    command:
      - --hub-mode=off
      - --changelog-file=master.xml
      - --driver=org.postgresql.Driver
      - --url=jdbc:postgresql://postgres:5432/scrapper
      - --username=pguser
      - --password=pgpwd
      - update
    volumes:
      - ./migrations:/liquibase/changelog
    networks:
      - backend

  rabbitmq:
    container_name: rabbitmq
    image: 'rabbitmq:3.6-management-alpine'
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      AMQP_URL: 'amqp://rabbitmq?connection_attempts=5&retry_delay=5'
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"

volumes:
  rabbitmq_data:
    driver: local

networks:
  backend:
    driver: bridge